
body{
  /*font-family: Georgia, Serif;*/
  line-height: 120%;
  background-color: #000;
  color: #CCC;
  font-size: 18pt;
  /*text-align: center;*/
}

p{
  width: 60%;
  margin: auto;
  margin-top: 20px;
}
